body {background-color: #7ecbd8;}

.row { display: flex; justify-content: center;}

.sidebar { width: 15%; background-color: #5d959f; display: flex; align-items: center; flex-direction: column;}

.sidebar a img { width: 150px; height: 150px; padding: 20px;}

h1 {text-align: center; font-family: "Luucida Console", "Courier New", monospace; font-size: 33pt; top: -15px; color: black;}

h2 {text-align: center;}

.main { width: 70%; background-color: #67a5b0; display: flex; align-items: center; flex-direction: column;}

p.copyright {position: absolute; bottom: -5px; right: 10px;}



